footer {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-bottom: 0;
    position: absolute;
    margin-top: 0;
    top: 115%;
    p {
        text-align: center;
        color: white;
        font-size: 1rem;
        text-shadow: 0px #000;
        font-family: 'Courier New', Courier, monospace;
    }
}